# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
/JaunaEgle/nbproject/private/
/JavaApplication24/nbproject/private/
/JaunaEgle/build/
/iGuiTest/nbproject/private/
/GuiTest/nbproject/private/
/GuiTest/build/
/Matem/nbproject/private/
/Matem/build/
/Day6/nbproject/private/
/Day6/build/
/Pirmskaitlis/nbproject/private/
/Pirmskaitlis/build/
/Boolean/nbproject/private/
/Boolean/build/
/OOPsBasics/nbproject/private/
/OOPsBasics/build/
/MiddleChar/nbproject/private/
/MiddleChar/build/
/Day7/nbproject/private/
/Day7/build/